.mavi1{

    width:100%;
    height: 250px;
    background-color: #A6B1E1;
}
.pembe2{

    width:100%;
    height:50px;
    background-color: #ECA6A6;

}
.beyaz9{
    width:100%;
    height:50px;
    background-color: #FFFFFF; 
}

.sari3{
    width:100%;
    height:300px;
    background-color :#F1E0AC;

}

.yosun4{

    width:80%;
    height:300px;
    background-color :#98B4AA;
    
}

.yesil6{
    width:70%;
    height: 300px;
    background-color : #74959A;



}

.gri7{
    width:60%;
    height: 300px;
    background-color :#495371;

}

.lila8{

    width:45%;
    height:300px;
    background-color :#F4EEFF;
}

.beyaz10{
    width:100%;
    height:100px;
    background-color: #FFFFFF;  
}